<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Buscar Conta</title>

</head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="JavaScriptget.js/"></script>
<script src="javascript/script.js"></script>
<style type="text/css">
table {
	border-collapse: inherit;
}

td {
	text-align: center;
	margin: 10px;
	padding: 10px;
}
</style>
<body>
	<h1>Itaú-Unibanco</h1>
	<br>
	<p>Preencha os campos abaixo para ver sua conta.</p>
	<br>
	<form name="Encontrar conta">
		<label> Nome do titular </label><br>
		<input type="text" required placeholder="Informe o titular da conta"><br> 
		<label> Número da conta </label><br>
		<input type="text" required placeholder= "Informe o número da conta" ><br>
		<button type="submit"> Continuar </button>
		<br>
	</form>
	<br>
	<!--
	<script>
	function validaTitular(){	
	}
	
	function valida numero(){	
	}
	</script>
	-->

	<a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Retornar para
		a tela inicial</a>

</body>
</html>